# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit xeroxcoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/xeroxcoin/xeroxcoin.conf

[Unit]
Description=Bitcoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/xeroxcoind -daemon -conf=/etc/xeroxcoin/xeroxcoin.conf -pid=/run/xeroxcoind/xeroxcoind.pid
# Creates /run/xeroxcoind owned by xeroxcoin
RuntimeDirectory=xeroxcoind
User=xeroxcoin
Type=forking
PIDFile=/run/xeroxcoind/xeroxcoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
